
.header{
  height: 100px;
  background-color: #3A312D;
  color: #D40000;
  -webkit-text-stroke: 2px #000000;
  text-align: center;
  padding-top: 30px;
}


body {
  font-family: sans-serif;
  background-image: url("./hømēpäĝé.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.productpictures {
  height: 150px;
  width: 150px;
}

.singleProductImg {
  height: 300px;
  width: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  align-content: center;
}

.singleContainer {
  background-color: burlywood;
}

.description {
  inline-size: 150px;
  overflow-wrap: break-word;
}

.title {
  inline-size: 150px;
  overflow-wrap: break-word;
}

#headerStar {
  height: 100px;
  width: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
}